/backend/bazel-*/
backend/bazel-*
backend/private_key.pem
backend/MODULE.bazel
backend/MODULE.bazel.lock
.ijwb
.vscode
.idea
backend/node_modules/
__pycache__/
backend/public_key.pem
backend/fernet.key
__pycache__
backend/test.jpeg
