backend/bazel/bazel-*
backend/bazel/MODULE.bazel
backend/bazel/MODULE.bazel.lock
.ijwb
.vscode
.idea
backend/keys/private_key.pem
backend/keys/public_key.pem
backend/node_modules/
__pycache__/
backend/public_key.pem
backend/fernet.key
__pycache__
backend/test.jpeg
backend/profile_pics/*
backend/temp/*
