.App {
  text-align: center;
}

.webPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*background-image: url("./resource/welcome_background.png");*/
}





.chatPage {
  overflow: clip;
  border-radius: 15px;
  background: rgba(239, 246, 255, 1);
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 50vh;
  min-height: 300px;
  min-width: 400px;
  opacity: 0.85;
}

.logos {
  position: fixed;  /* 使用 fixed 位置，使 Logo 总是显示在视口的左上角 */
  top: 1%;        /* 距离顶部 10px，可以根据需要调整 */
  left: 1%;       /* 距离左侧 10px，可以根据需要调整 */
  z-index: 1000;    /* 确保 Logo 在其他内容之上显示 */
  width: 100%;
}

.inner {
  display: flex;
  flex-direction: row;
}

.leftWrap {
  display: flex;
  width: 20vw;
  /*height: 50vh;*/
  border-right: 1px solid black;
  flex-direction: column;
}

.chatList {
  height: calc(100% - 60px);
}

.rightWrap {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 50vh;
}

.addFriendWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 50vh;
}

.friendList {
  height: calc(100% - 60px);

}

.inputWrap {
  /*padding: 0 20px;*/
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  align-items: center;
  border-top: 1px solid black;
  justify-content: center;
}

.senderWrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.friendNotSelected {

}

.friendSelected {
  background-color: cornflowerblue;
  opacity: 0.9;
  /*border-radius: 30px;*/
  /*margin: 1px;*/

}

.senderContent {
  margin: 0 0 4px 0;
  color: black;
  font-weight: bold;
  font-size: 14px;
  /*line-height: 1.5714285714285714;*/
}

.senderAvatar {

}



.sendButton {
  margin: 10px;
}

.buttonWrap {
  width: 20vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;

}

/*.chatHistory {*/

/*}*/

/*.Chat-intro {*/
/*  font-size: large;*/
/*}*/



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
