{% extends 'base.html' %}
{% load static %}

{% block title %}ResChat{% endblock %}

{% block css %}
<style>
body, html {
height: 100%;
margin: 0;
font-family: 'Arial', sans-serif;
overflow: hidden;
}

.background {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
overflow: hidden;
}

.circle {
border-radius: 50%;
position: absolute;
animation: move 15s linear infinite;
opacity: 0.6;
}

@keyframes move {
0%, 100% { transform: translateY(0); }
50% { transform: translateY(-15vh); }
}

.btn-primary {
background-color: #008080;
}

.circle1 { width: 100px; height: 100px; background-color: #008080; left: 10%; top: 20%; }
.circle2 { width: 120px; height: 120px; background-color: #808080; right: 12%; top: 30%; }
.circle3 { width: 140px; height: 140px; background-color: #008080; left: 20%; bottom: 25%; }
.circle4 { width: 160px; height: 160px; background-color: #808080; right: 28%; bottom: 15%; }
.circle5 { width: 180px; height: 180px; background-color: #008080; left: 40%; top: 10%; }
.circle6 { width: 150px; height: 150px; background-color: #808080; right: 50%; bottom: 20%; }
.circle7 { width: 130px; height: 130px; background-color: #008080; left: 60%; top: 30%; }
.circle8 { width: 110px; height: 110px; background-color: #808080; right: 65%; bottom: 25%; }


.contacts, .message-area {
    height: 500px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin: 10%; /* Adjust the margin for padding */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    }

.contacts {
    flex: 1;
    margin-right: 3%;
    overflow-y: auto;
    max-height: 100%;
}

/* Add padding to the chat history */
.chat-history {
    padding: 10px;
}

/* Add padding to the message box */
.message-box {
    padding: 10px;
}

.friends-list-title {
font-size: 30px;
color: #333;
font-weight: bold;
margin-bottom: 20px;
text-align: center;
}

.list-group-item {
    display: flex;
    align-items: center;
}

.friend-profile-picture {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    border-radius: 50%;
    margin-right: 10px; /* Adjust the margin as needed */
}

.chat-top {
    background-color: #008080;
    color: #fff;
    text-align: center;
    padding: 15px;
}
</style>
{% endblock %}

{% block content %}
<div class="background">
    <div class="circle circle1"></div>
    <div class="circle circle2"></div>
    <div class="circle circle3"></div>
    <div class="circle circle4"></div>
    <div class="circle circle5"></div>
    <div class="circle circle6"></div>
    <div class="circle circle7"></div>
    <div class="circle circle8"></div>
</div>
<div class="container-fluid">
    <div class="row chat-top">
        <div class="col-sm-4 border-right border-secondary">
            <img src="{% static 'assets/dp.png' %}" alt="" class="friend-profile-picture">
            <span class="ml-2">{{user}}</span>
            <span class="float-right d-flex align-items-center">
                <div class="notification">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                    <span class="badge" id="count_badge"></span>
                </div>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-left-fill mx-3"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                </svg>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical mr-2"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                </svg>
            </span>
        </div>
        <div class="col-sm-8">
            <img src="{% static 'assets/dp.png' %}" alt=""class="friend-profile-picture">
            <span class="ml-2">{{friend}}</span>
                {% if user.userprofilemodel.online_status %}
                    <small id="{{user.username}}_small" >Online</small>
                {% else %}
                    <small id="{{user.username}}_small">Offline</small>
                {% endif %}
            <span class="float-right mt-2">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                    <path fill-rule="evenodd"
                        d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                </svg>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical mx-3"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                </svg>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 contacts">
            <div class="contact-container">
                <h3 class="friends-list-title">Friend List</h3>
                <div class="contact-table-scroll">
                    <div class="list-group">
                        {% for friend in friends %}
                        <a href="{% url 'chat' username=friend %}" class="list-group-item list-group-item-action">
                            <img src="{% static 'assets/dp.png' %}" class="friend-profile-picture">
                            {{ friend }}
                        </a>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <div class="d-flex flex-column">
                <a href="{% url 'addfriend' %}" class="btn btn-primary mb-2" id="addFriendBtn">Add Friend</a>
                <a href="{% url 'login' %}" class="btn btn-danger" id="quitBtn">Quit</a>
            </div>
        </div>
        <div class="message-area">
            <div class="chat-history">
                <table class="table">
                    <tbody id='chat-body'>
                        {% for message in chat_history %}
                        {% if message.0 == "sent" %}
                        <tr>
                            <td>
                                <p class="bg-success p-2 mt-2 mr-5 shadow-sm text-white float-right rounded">
                                    {{message.2}}
                                </p>
                            </td>
                            <td>
                                <p><small class="p-1 shadow-sm">{{message.1|time:'H:i'}}</small>
                                </p>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>
                                <p class="bg-primary p-2 mt-2 mr-5 shadow-sm text-white float-left rounded">
                                    {{message.2}}
                                </p>
                            </td>
                            <td>
                                <p><small class="p-1 shadow-sm">{{message.1|time:'H:i'}}</small>
                                </p>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                {{ friend|json_script:"json_friend" }}
                    {{ history_length|json_script:"json_history" }}
                    <script>
                        friend = JSON.parse(document.getElementById("json_friend").textContent)
                        his_len = JSON.parse(document.getElementById("json_history").textContent)
                        function fetchUpdates() {
                            $.ajax({
                                url: "/trigger/"+friend+"/",
                                method: "GET",
                                dataType: "json",
                                success: function(data) {
                                    // Handle the response data (update your UI with the new data)
                                    //console.log("Data type:", typeof data);
                                    console.log("Received updates:", data.history.length);
                                    console.log('old_history:', his_len)

                                    if (data.history.length > his_len && data.history[data.history.length - 1][0] === "received") {
                                        console.log("hi,this is if ")
                                        message = data.history[data.history.length - 1]
                                        if (message[0] === "sent") {
                                            document.querySelector('#chat-body').innerHTML += `<tr>
                                                            <td>
                                                            <p class="bg-success p-2 mt-2 mr-5 shadow-sm text-white float-right rounded">${message[2]}</p>
                                                            </td>
                                                        </tr>`
                                        } else {
                                            document.querySelector('#chat-body').innerHTML += `<tr>
                                                            <td>
                                                            <p class="bg-primary p-2 mt-2 mr-5 shadow-sm text-white float-left rounded">${message[2]}</p>
                                                            </td>
                                                        </tr>`
                                        }
                                        his_len +=1
                                    }
                                },
                                error: function(error) {
                                    console.error("Error fetching updates:", error);
                                }
                            });
                        }
                        fetchUpdates()
                        // Set up an interval to fetch updates every 5 seconds
                        setInterval(fetchUpdates, 2000);
                    </script>
                </table>
            </div>
            <div class="row message-box p-3">
                <div class="col-sm-2 mt-2">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-emoji-smile" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path fill-rule="evenodd"
                            d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683z" />
                        <path
                            d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
                    </svg>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paperclip mx-2"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z" />
                    </svg>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z" />
                        <path
                            d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
                    </svg>
                </div>
                <form method="post" action="/chat/{{ friend }}/">
                    {% csrf_token %}
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="message_input" name="message" placeholder="Write message...">

                </div>
                <div class="col-sm-2 mt-1">
                    <div class="control d-flex flex-column">
                        <button class="btn btn-primary" id="chat-message-submit">Send</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
