<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Features</title>
    <!-- Add any additional head content here (like CSS links) -->
</head>
<body>
    <h1>Features</h1>
    <p>
        Here are some of the features of our product/service:
        <ul>
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>Feature 3</li>
            <!-- Add more features as needed -->
        </ul>
    </p>
    <a href="index.html">Back to Home</a> <!-- Link back to the main page -->
</body>
</html>
