{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block css %}
    <style>
        body .custom-background {
            background-color: #59b4a9;
        }
    </style>
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100 custom-background">
    <div class="text-center flex-column p-4 bg-white rounded">
        <h3>login</h3>
        <form method="post" action="/login/">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="pwd" placeholder="password">
            </div>
        
            <button type="submit" class="btn btn-primary" value="submit">Submit</button>
        </form>
        <span style="color: #59b4a9">{{ error_msg }}</span>
    </div>
</div>

{% endblock %}